on:
    push:
        branches:
            - dev
    workflow_dispatch:

jobs:
    deploy:
        name: deploy
        runs-on: ubuntu-latest

        steps:
            -   name: Deploy app
                uses: appleboy/ssh-action@v1.0.0
                with:
                    host: ${{ secrets.SSH_HOST }}
                    username: ${{ secrets.SSH_USER }}
                    key: ${{ secrets.SSH_PRIVATE_KEY }}
                    script: |
                        cd ${{ secrets.WORK_DIR_DEV }}
                        git checkout ${{ secrets.DEV_BRANCH }}
                        composer install
                        php bin/console doctrine:migrations:migrate
                        echo "Deployment successful!"
